<nav class="navbar is-danger is-fixed-top">
    <div class="container">
        <div class="navbar-brand">

            <a class="navbar-item" href="/"></a>
            <h1 class="title">Scrape the News</h1>

            <p class="control"><a class="navbar-item button is-dark is-outlined is-rounded" href="https://github.com/ncooperw/Scrape_the_News"
                    target=""><span><i class="fab fa-github"></i></span></a></p>
        </div>
    </div>
</nav>