<nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand"><a class="navbar-item" href="/"></a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <p class="control"><a class="button is-primary is-outlined is-rounded" href="/scrape"><span>Scrape</span></a></p>
                        <p class="control"><a class="button is-primary is-outlined is-rounded" href="https://github.com/ncooperw/Scrape_the_News" target=""><span><i class="fab fa-github"></i></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>