<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Nicole Cooper-White">
    <meta name="author" content="Nicole Cooper-White">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel-"stylesheet" type="text/css" href="/assets/css/style.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Josefin+Slab|Orbitron" rel="stylesheet">

     <!-- tab icon -->
    <link rel="shortcut icon" href="/assets/img/news-icon.png"/>
    <title>Scrape the News</title>
    </head>
    <body class="has-navbar-fixed-top">
        {{> navbar}}
        <main>
            <div class="container">
                {{{ body }}}
            </div>
        </main>
        {{> footer}}

        <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </body>
</html>