
<section class="hero heroText is-medium is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Read the Latest from 'The Verge' in Tech</h1>
            <h2 class="subtitle">Click 'Scrape' to get the latest articles</h2>
            <p class="control"><a class="button is-dark is-outlined is-rounded" href="/scrape"><span>Scrape</span></a></p>
        </div>
    </div>
</section>

<div class="columns">
    <div class="column">
    <div class="card articleCard">
        {{#each article}}
        <div class="card-content">
            <h4 class="title">{{this.title}}</h4>
            {{!-- goes to article.handlebars --}}
            <a href="/readArticle/{{this._id}}" class="button is-dark is-outlined is-rounded" id="btnRead">Read Article</a>
        </div>
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>